<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ningsk.cameralibrary">

    <application>
        <activity
            android:name=".activity.CameraActivity"
            android:theme="@style/NoActionBarTheme" />
    </application>

</manifest>